@font-face{
    font-family: 'NightinTokio';

    src: url('NightinTokyo.ttf');

    src: url('./NightinTokyo.ttf');

    font-weight: normal;

    font-style: normal;
}


*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-family: 'NightinTokio';
}


nav ul {
    list-style: none;
}