@font-face{
    font-family: 'NightinTokio';

    src: url('NightinTokyo.ttf');

    src: url('./NightinTokyo.ttf');

    font-weight: normal;

    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'NightinTokio';
    font-size: 24px;
    padding: 10px 15px;
    line-height: 1.5;
    transition: background-color .8s, color .3s, border-radius .5s;
}
nav ul li a:hover{
    background-color: rgb(42, 158, 48);
    border-radius: 5px;
    color: #fff;
}
nav ul li{
    display: inline;
}


nav ul {
    list-style: none;
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
nav{
    background-color: hsl(0, 0%, 95%);
    padding: 10px 15px;
}
header h1{
    font-family: 'NightinTokio';
    font-size: 36px;
    text-align: center;
}
header p{
    font-size: 20px;
    font-family: 'Yeon Sung', cursive;
    text-align: justify;
}
header{
    max-width: 1000px;
    margin: 50px auto;
    background-color: hsl(0, 0%, 95%);
    padding: 10px 20px;
    transition: transform 1.5s, box-shadow 1.5s, color 1.5s;
}
header:hover{
    color: rgb(42, 158, 48);
    box-shadow: 20px 20px 0px rgb(42, 158, 48);
    transform: translate(-20px, -20px);
}
main{
    max-width: 1000px;
    margin: 50px auto;
    
}
main section img:nth-of-type(1), main section img:nth-of-type(3), main section img:nth-of-type(5){
    transform: rotate(90deg);
}
main section img:nth-of-type(2){
    transform: rotate(180deg);
}
main section img:nth-of-type(4){
    transform: rotate(270deg);
}
main section:nth-of-type(1){
    display: flex;
    flex-direction: column;
}
main section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 500px;
    margin: 0px auto;
}
main section p{
    color: #fff;
    font-family: 'Yeon Sung';
    font-size: 26px;
}
.img1:hover section~section>p{
    background-color: rgb(42, 158, 48);
}

main article{
    display: flex;
}