@font-face{
    font-family: 'NightinTokio';

    src: url('NightinTokyo.ttf');

    src: url('./NightinTokyo.ttf');

    font-weight: normal;

    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

@keyframes hr-anim{
    from{
        width: 0px;
    }
    to{
        width: 100%;
    }
}


*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'NightinTokio';
    font-size: 24px;
    padding: 10px 15px;
    line-height: 1.5;
    transition: background-color .8s, color .3s, border-radius .5s;
}
nav ul li a:hover{
    background-color: rgb(42, 158, 48);
    border-radius: 5px;
    color: #fff;
}
nav ul li{
    display: inline;
}


nav ul {
    list-style: none;
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
nav{
    background-color: hsl(0, 0%, 95%);
    padding: 10px 15px;
}
#back-btn{
    position: fixed;
    bottom: 100px;
    right: 100px;
    height: 50px;
    width: 50px;
    background-color: rgb(42, 158, 48);
    color: #fff;
    font-weight: bolder;
    border-radius: 30px;
    text-align: center;
    padding: 15px;
}
.div h1{
    font-family: 'NightinTokio';
    font-size: 36px;
    text-align: center;
}
.div p{
    font-size: 20px;
    font-family: 'Yeon Sung', cursive;
    text-align: justify;
}
.div{
    max-width: 1000px;
    margin: 50px auto;
    background-color: hsl(0, 0%, 95%);
    padding: 10px 20px;
    transition: transform 1.5s, box-shadow 1.5s, color 1.5s;
}
.div:hover{
    color: rgb(42, 158, 48);
    box-shadow: 20px 20px 0px rgb(42, 158, 48);
    transform: translate(-20px, -20px);
}
.div:hover>#wrap-header{
    color: rgb(42, 158, 48);
}
main{
    max-width: 1000px;
    margin: 50px auto;
    
}
main section img:nth-of-type(1), main section img:nth-of-type(3), main section img:nth-of-type(5){
    transform: rotate(90deg);
}
main article section img:nth-of-type(2){
    transform: rotate(180deg);
}
main article section img:nth-of-type(4){
    transform: rotate(270deg);
}
main section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main section div{
    color: #fff;
    font-family: 'Yeon Sung';
    font-size: 26px;
    display: flex;
    max-width: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    transition: color 1s;
}
img:hover~div{
    color: rgb(42, 158, 48);
}
main article section img:hover{
    transform: scale(1.2);
}
main article section h2, main h1{
    color: rgb(25, 110, 29);
    font-family: 'NightinTokio';
    font-size: 26px;
}
main article section img{
    transition: transform 1s;
}
hr{
    border-color: rgb(42, 158, 48);
}
main:hover>hr{
    animation: hr-anim 1.5s;
}
#wrap-header{
    text-align: center;
    width: 40px;
    margin-right: 10px;
    word-wrap: break-word;
    color: black;
    transition: color 1.5s;
}
footer{
    background-color: rgb(42, 158, 48);
}
footer div{
    color: #fff;
    max-width: 1000px;
    margin: 0px auto;
    font-family: 'NightinTokio';
    font-size: 26px;
}
section ul li a{
    color: #000;
    text-decoration: none;
    font-family: 'NightinTokio';
    font-size: 20px;
    color: rgb(42, 158, 48);
}
section ul li{
    line-height: 2;
}
section ul{
    list-style: none;
    font-weight: bolder;
}