@font-face{
    font-family: 'NightinTokio';

    src: url('NightinTokyo.ttf');

    src: url('./NightinTokyo.ttf');

    font-weight: normal;

    font-style: normal;
}


*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'NightinTokio';
    font-size: 24px;
    padding: 10px 15px;
    line-height: 1.5;
    transition: background-color .8s, color .3s, border-radius .5s;
}
nav ul li a:hover{
    background-color: rgb(42, 158, 48);
    border-radius: 5px;
    color: #fff;
}
nav ul li{
    display: inline;
}


nav ul {
    list-style: none;
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
nav{
    background-color: hsl(0, 0%, 95%);
    padding: 10px 15px;
}